<body>
    <div class="container">
        <div class="row" id="quote_detail">
            <h1 class="display-3"><%= data.author %></h1>
            <p><%= data.quote %></p>
        </div>
    </div>
</body>